service: simple-aws-lambda

provider:
  name: aws
  runtime: java11
  profile: serverless-admin
  region: us-east-1
  timeout: 10
  memorySize: 1024
  iamRoleStatements:
    - Effect: 'Allow'
      Action:
        - 's3:*'
      Resource:
        - 'arn:aws:s3:::${self:custom.myBucket}/*'
        - !Join [ '', [ 'arn:aws:s3:::', !Ref ServerlessDeploymentBucket, '/*' ] ]

custom:
  myBucket: mbda-custom-bucket

package:
  artifact: target/simple-aws-lambda.jar

functions:
  simpleLambda:
    handler: org.mbda.SimpleLambda
    environment:
      MESSAGE: DemoTest
  simpleHttp:
    handler: org.mbda.SimpleHttpHandler
    events:
      - http:
          path: /simple-http
          method: post
  simpleEventTrigger:
    handler: org.mbda.SimpleEventHandler
    events:
      - s3:
          bucket: ${self:custom.myBucket}
          event: s3:ObjectCreated:*
          rules:
            - suffix: .png
  simpleScheduledTrigger:
    handler: org.mbda.SimpleScheduledHandler
    events:
      - schedule: rate(1 minute)
