service: simple-aws-lambda

provider:
  name: aws
  runtime: java11
  profile: serverless-admin
  region: us-east-1
  timeout: 10
  memorySize: 1024

package:
  artifact: target/simple-aws-lambda.jar

functions:
  simpleLambda:
    handler: org.mbda.SimpleLambda
    environment:
      MESSAGE: DemoTest
  simpleHttp:
    handler: org.mbda.SimpleHttpHandler
    events:
      - http:
          path: /simple-http
          method: post
    environment:
      MESSAGE: DemoTest

